@import './colors.css';
@import './sizes.css';

:root {
  --positive: var(--orange);
  --negative: var(--blue-01);
  --normal: var(--pink-04);
}

.positive-color {
  color: var(--positive);
}
.negative-color {
  color: var(--negative);
}

.normal-color {
  color: var(--normal);
}

.app-page {
  text-align: center;
  direction: rtl;
}

.app-link {
  color: #61dafb;
}

.app-header-xl {
  margin-top: var(--font-size-xl);
  margin-bottom: var(--font-size-xl);
  font-size: var(--font-size-xl);
  font-weight: bold;
}

.app-header-m {
  margin-top: var(--font-size-xl);
  margin-bottom: var(--font-size-xl);
  font-size: var(--font-size-m);
  font-weight: bold;
}

.app-clickable {
  cursor: pointer;
}

.grid-layout {
  display: flex;  
  flex-wrap: wrap;
}

.app-border-selected {
  border: solid 2px var(--orange);
}

.app-no-border {
  border: none;
}

.margin-xl {
  margin: var(--size-xl);
}

.margin-xs {
  margin: var(--size-xs);
}

.margin-bottom-xl {
  margin-bottom: var(--size-xl);
}

.margin-top-xl {
  margin-top: var(--size-xl);
}


